html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
input,
button,
textarea,
a {
  font-family: "Inter", sans-serif;
  color: #333333;
  background: transparent;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.--container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0px 80px;
}

.invalid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__window {
  background: #fff;
  max-width: 500px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 50px 0px;
  border-radius: 20px;
}

.title {
  font-weight: 900;
  font-size: calc(32px + 13 * ((100vw - 320px) / 816));
  text-transform: uppercase;
  color: #118976;
  text-shadow: 2px 2px 0px #ffffff;
}

.header {
  padding: 10px 0px 0px 0px;
  position: relative;
  height: 100vh;
}

.header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
}

.header__logo {
  margin: 0px 0px 22px 0px;
}

.header__title {
  margin: 0px 0px -2% 0px;
}

.content-header {
  margin: 0px 20px 30px 0px;
}

.content-header__title {
  margin: 0px 0px 5vw 0px;
  max-width: 400px;
  line-height: 131%;
}

.content-header__list {
  max-width: 350px;
}

.content-header__list li {
  padding: 0px 0px 0px 76px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  margin: 0px 0px 48px 0px;
  position: relative;
}

.content-header__list li:before {
  content: "";
  background: url(../img/system/icons/checkCircle.svg) left top no-repeat;
  position: absolute;
  width: 56px;
  height: 56px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.content-header__list li:last-child {
  margin: 0px 0px 10px 0px;
}

.content-header__img {
  margin: 0px -4% 0px 0px;
}

.form-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 368px;
          flex: 0 1 368px;
  padding: 24px 10px 20px 10px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.form-header__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  max-width: 280px;
  margin: 0px auto 12px auto;
}

.form-header__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  color: #ff2c2c;
  margin: 0px 0px 4px 0px;
}

.form-header__price {
  font-weight: 800;
  font-size: 38px;
  line-height: 42px;
  color: #ff2c2c;
  margin: 0px 0px 5vw 0px;
}

.form-header__select {
  width: 100%;
}

.form-header__select .select {
  width: 100%;
  padding: 15px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-header__button {
  max-width: 254px;
  margin: 0px auto 16px auto;
}

.form-header__button .button {
  background: #ff272b;
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding: 16px 10px;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  bottom: 0;
}

.form-header__button .button:hover {
  bottom: -4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000;
  background: #ff5255;
}

.form-header__button .button:focus {
  background: #b21b1e;
}

.form-header__button .button:focus:hover {
  opacity: 0.7;
}

.form-header__options {
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}

.form-block {
  font-size: 14px;
  margin: 0px auto 12px auto;
  border: 1px solid #089c84;
  max-width: 254px;
  position: relative;
}

.form-block .input {
  width: 100%;
  padding: 15px 12px;
  font-size: 18px;
}

.form-block .input::-webkit-input-placeholder {
  font-size: 14px;
  color: #333333;
}

.form-block .input::-moz-placeholder {
  font-size: 14px;
  color: #333333;
}

.form-block .input:-ms-input-placeholder {
  font-size: 14px;
  color: #333333;
}

.form-block .input::-ms-input-placeholder {
  font-size: 14px;
  color: #333333;
}

.form-block .input::placeholder {
  font-size: 14px;
  color: #333333;
}

@media (min-width: 768px) {
  .content-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 634px;
            flex: 0 1 634px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 992px) {
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1172px) {
  .header__title {
    margin: 0px 0px -4% 0px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 100%;
    padding: 10px 0px 70px 0px;
  }

  .header__title {
    margin: 0px 0px 0% 0px;
  }
}

@media (max-width: 769px) {
  .form-header__button .button {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
}

@media (max-width: 768px) {
  .header__logo {
    text-align: center;
  }

  .header__title {
    line-height: 125%;
    margin: 0px auto 0px auto;
    text-align: center;
  }

  .content-header {
    margin: 0px auto 20px auto;
    text-align: center;
  }

  .content-header__title {
    line-height: 125%;
    margin: 0px auto 35px auto;
  }

  .content-header__list {
    margin: 0px auto 40px auto;
  }

  .content-header__img {
    margin: 0px auto 74px auto;
  }

  .form-header__title {
    margin: 0px auto 44px auto;
  }

  .form-header__price {
    margin: 0px auto 45px auto;
  }
}

@media (max-width: 604px) {
  .content-header__title {
    max-width: 250px;
  }

  .content-header__list {
    max-width: 260px;
    text-align: left;
  }

  .content-header__list li {
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  .--container {
    padding: 0px 20px;
  }
}