//HEADER--------------------------------------------
.header {
  padding: 10px 0px 0px 0px;
  position: relative;
  height: 100vh;
  @media (max-width: 992px) {
    height: 100%;
    padding: 10px 0px 70px 0px;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__inner {
    flex: 0 0 100%;
    position: relative;
  }

  &__logo {
    margin: 0px 0px 22px 0px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__title {
    margin: 0px 0px -2% 0px;
    @media (max-width: 1172px) {
      margin: 0px 0px -4% 0px;
    }
    @media (max-width: 992px) {
      margin: 0px 0px 0% 0px;
    }
    @media (max-width: 768px) {
      line-height: 125%;
      margin: 0px auto 0px auto;
      text-align: center;
    }
  }
  &__wrap {
    @media (min-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.content-header {
  @media (min-width: 768px) {
    flex: 0 1 634px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  margin: 0px 20px 30px 0px;
  @media (max-width: 768px) {
    margin: 0px auto 20px auto;
    text-align: center;
  }
  &__title {
    margin: 0px 0px 5vw 0px;
    max-width: 400px;
    line-height: 131%;
    @media (max-width: 768px) {
      line-height: 125%;
      margin: 0px auto 35px auto;
    }
    @media (max-width: 604px) {
      max-width: 250px;
    }
  }

  &__list {
    max-width: 350px;
    @media (max-width: 768px) {
      margin: 0px auto 40px auto;
    }
    @media (max-width: 604px) {
      max-width: 260px;
      text-align: left;
    }
    li {
      padding: 0px 0px 0px 76px;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      margin: 0px 0px 48px 0px;
      position: relative;
      &:before {
        content: "";
        background: url(../img/system/icons/checkCircle.svg) left top no-repeat;
        position: absolute;
        width: 56px;
        height: 56px;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
      }
      &:last-child {
        margin: 0px 0px 10px 0px;
      }
      @media (max-width: 604px) {
        font-size: 18px;
      }
    }
  }

  &__img {
    margin: 0px -4% 0px 0px;
    @media (max-width: 768px) {
      margin: 0px auto 74px auto;
    }
  }
}
.form-header {
  flex: 0 1 368px;
  padding: 24px 10px 20px 10px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    max-width: 280px;
    margin: 0px auto 12px auto;
    @media (max-width: 768px) {
      margin: 0px auto 44px auto;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    color: #ff2c2c;
    margin: 0px 0px 4px 0px;
  }

  &__price {
    font-weight: 800;
    font-size: 38px;
    line-height: 42px;
    color: #ff2c2c;
    margin: 0px 0px 5vw 0px;
    @media (max-width: 768px) {
      margin: 0px auto 45px auto;
    }
  }

  &__select {
    width: 100%;
    .select {
      width: 100%;
      padding: 15px 12px;
      appearance: none;
    }
  }
  &__button {
    max-width: 254px;
    margin: 0px auto 16px auto;
    .button {
      background: #ff272b;
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      display: inline-block;
      width: 100%;
      font-weight: bold;
      font-size: 18px;
      padding: 16px 10px;
      color: #ffffff;
      position: relative;
      transition: all 0.6s ease 0s;
      bottom: 0;
      @media (max-width: 769px) {
        transition: all 0.2s ease 0s;
      }
      &:hover {
        bottom: -4px;
        box-shadow: none;
        color: #000;
        background: #ff5255;
      }
      &:focus {
        background: #b21b1e;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__options {
    font-size: 12px;
    line-height: 20px;
    color: #828282;
  }
}
.form-block {
  font-size: 14px;
  margin: 0px auto 12px auto;
  border: 1px solid #089c84;
  max-width: 254px;
  position: relative;
  .input {
    width: 100%;
    padding: 15px 12px;
    font-size: 18px;
    &::placeholder {
      font-size: 14px;
      color: #333333;
    }
  }
}
